<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>KAMANJAWS</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>main.Global</servlet-name>
    <servlet-class>main.Global</servlet-class>
  </servlet>
  <servlet>  	
    <description></description>
    <display-name>MessagesService</display-name>
    <servlet-name>MessagesService</servlet-name>
    <servlet-class>main.MessagesService</servlet-class>
    <init-param>
      <param-name>DataConnectionString</param-name>
      <!--<param-value>Server=localhost;Pooling=true;Encoding=UNICODE;Port=5432;User Id=postgres;Password=;Database=postgres</param-value>-->
      <param-value>Server=ls20.dc.npario.com;Pooling=true;Encoding=UNICODE;Port=5432;User Id=admin;Password=;Database=ls20</param-value>
    </init-param>
    <init-param>
      <param-name>DBLoadToolCommand</param-name>
      <param-value>/usr/share/tomcat6/DBLoadTool/DBLoadTool.sh</param-value>
    </init-param>
    <init-param>
      <param-name>DBLoadToolProcessName</param-name>
      <param-value>DBLoadTool.jar</param-value>
    </init-param>
    <init-param>
      <param-name>ZookeeperConnnectionString</param-name>
      <!--<param-value>192.168.200.140:2182</param-value>-->
      <!-- ls 20 -->
      <param-value>ls20.dc.npario.com:2181</param-value>
    </init-param>
    <init-param>
      <param-name>LogFilePath</param-name>
      <param-value>C:\\kamanjalogs\\npario.log</param-value>
      <!--<param-value>/usr/share/tomcat6/KamanjaLogs/npario.log</param-value>-->
    </init-param>
    <init-param>
      <param-name>LogFilePattern</param-name>
      <param-value>'.'yyyy-MM-dd-HH'.log'</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessagesService</servlet-name>
    <url-pattern>/MessagesService</url-pattern>
  </servlet-mapping>
</web-app>